{% extends 'vege_base.html' %}

{% block content %}
<form method="POST" action="/login/">
  {% csrf_token %}
  
  {% if messages %}
  <ul class="messages px-0 mx-0">
      {% for message in messages %}
      <li{% if message.tags %}  role="alert" style="list-style: none;" class="alert alert-primary {{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">User name</label>
      <input type="text" name="user_name" class="form-control" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <a href="/register/">
      Register
    </a>
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endblock %}